body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-login {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 20px;
  margin: top 200px;
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.2);
  padding-bottom: 30px;
}

.header-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.text {
  color: white;
  font-size: 40px;
  font-weight: 700;
  width: 80%;
  height: 80%;
}

.underline {
  width: 61px;
  height: 6px;
  background: currentColor;
  border-radius: 9px;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-login {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 80%;
  background: #454545;
  border-radius: 6px;
}

.input img {
  margin: 0px 30px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}

.forgot-password {
  padding-right: 300px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  width: 60%;
  height: auto;
}

.submit-container {
  display: flex;
  width: 80%;
  height: 80%;
  gap: 30px;
  margin: 60px auto;
}

.submit-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: white;
  background: #454545;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #565656;
  color: #676767;
}
